COMPOSE_PROJECT_NAME=bmsrecorder
PUBLIC_PORT=8080
CAPTURE_INTERFACE=ens192
CAPTURE_FILTER=udp port 3671 or tcp port 502 or tcp port 802 or udp portrange 47808-47823
PCAP_FILESIZE_KB=100000
PCAP_FILE_COUNT=96
POSTGRES_DB=bmsrecorder
POSTGRES_USER=bmsrecorder
POSTGRES_PASSWORD=change-me
CLICKHOUSE_PASSWORD=change-me
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=change-me
INFLUXDB_ADMIN_TOKEN=change-me
INFLUXDB_ORG=bms
INFLUXDB_BUCKET=telemetry
MINIO_ROOT_USER=bmsadmin
MINIO_ROOT_PASSWORD=change-me
APP_MASTER_KEY=generate-with-install-script
INTERNAL_TOKEN=change-me
DEMO_DATA=true
